@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proximanova_regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}   

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proximanova_semibold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proximanova_bold.otf") format("opentype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proximanova_light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}